$color-primary-light: var(--primary);
$color-secondary-light: var(--secondary);
$color-tertiary-light: var(--tertiary);
$color-quaternary-light: var(--quaternary);

$color-secondary-opacity: var(--secondary-opacity);

$background: var(--background);

$font: var(--font);
$font-common: var(--font-common);

$transition: .5s;