@use "../../styles/reusable.all.scss" as *;


@keyframes fadeIn {
  0% {
    left: -40rem;
  }
  100% {
    left: 0;
    background-color: $color-secondary-opacity;
  }
}

@keyframes fadeInWithoutBackground {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInWithoutBackgroundAndTranslate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.section {
  @include breakpoint(xs) {
    position: relative;

  }
  
}

.swiperparent {
  max-height: 55rem;
  overflow: hidden;
  
  @include breakpoint(xs) {
    max-height: 70rem;

  }

  @include breakpoint (lg) {
    .activeswiper{
      width: 90% !important;
      transition: 1s;
      overflow: hidden;
      .content {
        animation: 1s fadeIn  ease-in-out forwards;
        transform: translateY(-50%);
        top: 50%;
      }
    }
  }

  .activeswiper {
    .content {

      .head {
        .title {
          animation: .7s fadeInWithoutBackground  ease-in-out forwards;
  
        }

        .info {
          opacity: 0;
          animation: .5s fadeInWithoutBackgroundAndTranslate 1s  ease-in-out forwards;
  
        }

        .path {
          animation: .7s fadeInWithoutBackground  ease-in-out forwards;
  
        }
      }
    }
  }

}
.swiperbody {
  position: relative;
  // height: 50rem !important;
  width: 90% !important;
  .image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    padding-top: 40%;
    
    @include breakpoint(xs) {
      min-height: 30rem;
      background-size: contain;
    }
    
  }

  .content {
    @include breakpoint(lg) {
      position: absolute;
      top: 0%;
      left: 0;
      width: 50rem;
      padding: 2rem 5rem;
    }

    .head {
      @include flex(column);
      padding: 1rem;
      transition: $transition;
      
      gap: 1rem;
      .title {
        opacity: 0;
        color: $font;
        font-size: 3rem;
        // font-size: clamp(2.5rem, 3.5vw, 5rem);
        font-weight: 500;
        text-transform: uppercase;
       
        @include breakpoint(xs) {
          font-size: 5rem;
        }
      }
  
      .info {
        opacity: 0;
        color: $font;
        font-size: 1.2rem;
        @include breakpoint(xs) {
          font-size: 1.5rem;
          max-width: 40rem;
        };
        
        
      }
      
  
      .path {
        @include flex(false, center);
        gap: 1rem;
        font-size: 1.5rem;
        text-align: center;
        opacity: 0;
        text-transform: uppercase;
        text-decoration: none;
        color: $font-special;
        font-weight: 500;
        .link {
          @include flex(false, center);
          a {
          }
        }
    
        .icon {
          color: $font-special;
          font-size: 3rem;
        }
      }
    }
  
    .bot {
      margin-top: auto;
      color: $font;
      font-size: 2rem;
    }
  }
  
  

  

}

.swipers {
  @include flex(false,center, center);
  margin-top: 2rem;

  @include breakpoint(xs) {
    // margin-top: 5rem;
  }

  


  .prev,
  .next {
    background-color: transparent;
    border: none;
    color: $font;
    font-size: 4rem;
    padding: 2rem;

    @include breakpoint(xs) {
      font-size: 8rem;
      position: absolute;
      z-index: 5;
    }

    @include breakpoint(lg) {
      font-size: 10rem;
      position: absolute;
      z-index: 5;
    }
  }

  .prev {
    @include breakpoint(xs) {
     margin-left: -10rem;
     }
   
    @include breakpoint(lg) {
      margin: 0;
      top: 50%;
      transform: translateY(-50%);
      left: -4rem;
    }
  }
  
  .next {
    @include breakpoint(xs) {
      margin-left: 10rem;
    }
    @include breakpoint(lg) {
      margin: 0;
      top: 50%;
      transform: translateY(-50%);
      right: -4rem;
    }
  }
  
}