@use "../../styles/reusable.all.scss" as *;


@keyframes fadeIn {
  0% {
    top: 0;
  }

  100% {
    top: 15%;
    background-color: $color-secondary-light;
  }
}

.section {
  @include breakpoint(xs) {
    position: relative;

  }
  
}

.swiperparent {
  max-height: 55rem;
  overflow: hidden;
  

  @include breakpoint (xs) {
    .activeswiper{
      width: 85% !important;
      transition: 1s;
      .content {
        animation: .5s fadeIn  ease-in-out forwards;
      }
    }
  }

}
.swiperbody {
  position: relative;
  // height: 50rem !important;
  width: 90% !important;
  .image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    padding-top: 40%;
    
    @include breakpoint(xs) {
      min-height: 30rem;
      background-size: contain;
    }
    
  }

  .content {
    @include breakpoint(xs) {
      position: absolute;
      top: 0%;
      left: 5%;
      padding: 2rem 5rem;
    }

    .head {
      @include flex(column);
      padding: 1rem;
      
      gap: 1rem;
      .title {
        color: $font;
        font-size: 3.5rem;
        // font-size: clamp(2.5rem, 3.5vw, 5rem);
        font-weight: 300;
        text-transform: uppercase;
  
        @include breakpoint(lg) {
          font-size: 5rem;
          font-weight: 400;
        }
      }
  
      .info {
        color: $font;
        @include breakpoint(xs) {
          font-size: 1.5rem;
          max-width: 40rem;
        }
        
      }
      
  
      .path {
        @include flex(false, center);
        gap: 1rem;
        font-size: 1.5rem;
        
        .link {
          a {
            color: $font;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
    
        .icon {
          color: $font;
        }
      }
    }
  
    .bot {
      margin-top: auto;
      color: $font;
      font-size: 2rem;
    }
  }
  
  

  

}

.swipers {
  @include flex(false,center, center);
  margin-top: 2rem;


  .prev,
  .next {
    background-color: transparent;
    border: none;
    font-size: 4rem;
    color: $font;
    @include breakpoint(xs) {
      position: absolute;
      z-index: 5;
    }
  }

  .prev {
    @include breakpoint(xs) {
      top: 50%;
      transform: translateY(-50%);
      left: 1rem;
    }
  }
  
  .next {
    @include breakpoint(xs) {
      top: 50%;
      transform: translateY(-50%);
      right: 1rem;
    }
  }
  
}