@use "../reusable.all.scss" as *;




.departments {
    @include flex(column);
    max-width: 160rem;
    margin: 0 auto;
    gap: 1rem;
    // padding: 5rem 2rem;
    padding: 1rem 2rem;
    position: relative;

    @include breakpoint(xs) {
        // padding: 10rem 2rem;
        padding: 0;
    }
    


    .info {
        @include flex(column, center, center);
        height: 70rem;
        gap: 3rem;

        .title {
            font-weight: 200;
            color: $font;
            font-size: 4rem;
            text-align: center;
        }

        .description {
            font-size: clamp(1.2rem, 2.5vw, 2rem);

            color: $font-special;
            padding: 2rem;
            
            font-weight: 500;
            @include breakpoint(xs) {
                text-align: center;
            }
        }
    }


    .card {
        @include flex(column, center);
        // gap: 15rem;
        
        @include breakpoint(xs) {
            gap: 0;
        }
        
        @include breakpoint (lg) {
            grid-template-columns: 1fr 1fr; 
        }
        
    }


    .arrow {
        position: sticky;
        font-size: 5rem;
        color: $font;
        bottom: 4rem;
        opacity: .5;
        @include flex(false, center, center);

    }
}
