@use "../../styles/reusable.all.scss" as *;



.button {
    @include flex(false, center, center);
    gap: 1rem;
    font-size: 1.5rem;
    
    padding: .5rem 1.5rem;
    background-color: $color-primary-light;
    border: none;

    @include breakpoint(xs) {
        width: 9rem;
    }

    .mode {
        color: $font-common;
        display: none;
            @include breakpoint(xs) {
            display: block;
        }
    }

    .icon {
        color: $font-common;
    }
}




// .light {
//     background-color: $color-primary-light;
//     color: $font;
// }

// .dark {
//     background-color: $color-primary-light;
//     // color: $font;
//     color: red;
// }